@import 'index.css';

/*--- Styling for the footer-component ---*/
footer {
	background-color: var(--black);
}

.footer-text {
	color: var(--white);
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 3em 1em;
}

.footer-text a{
	font-weight: bold;
	font-style: italic;
}

.cr-notice,
.hosting-notice {
	padding: .3em;
}