@charset "UTF-8";

/* Custom color properties */
:root {
	--green: rgb(0, 150, 0);
	--red: rgb(150, 0, 0);
	--orange: rgb(150, 130, 0);
	--light-green: rgb(0, 170, 0);
	--black: rgb(0, 0, 0);
	--dark-gray: rgb(20, 20, 20);
	--gray: rgb(50, 50, 50);
	--white: rgb(240, 240, 240);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a { color: var(--white) } /* Added in order for App button in navbar to display as white when not clicked */

a:link { text-decoration: none; color: var(--white);}

a:visited { text-decoration: none; color: var(--white);}

a:hover { text-decoration: none; color: var(--green); cursor: pointer;}

a:active { text-decoration: none; color: var(--green);}

/*--- Styling for items in the header-component ---*/

header {
	-webkit-position: sticky;
	position: sticky;
	background-color: var(--black);
	top: 0;
	display: flex;
	padding: 1.1em 0em;
	align-items: center;
	z-index: 999;
}

nav {
	margin: 0em 2em 0em auto;
}

ul {
	list-style-type: none; /* removes styling of list items (bullet points)*/
	display: flex;
	margin: auto 0em;
}

/* Padding between navbar links */
#nav-link-app {
	margin-right: 5vw;
}

i#nav-icon {
  font-size: 2.5em;
}

/* Top-left logo */
.title-and-logo {
	display: flex;
	margin-left: 2em;
	align-items: center;
}

.main-logo {
	margin: 0em .5em;
	width: 4em;
}

.main-title {
	font-size: 2.2em;
	margin-left: .4em;
}

/*--- Styling for the intro section (after the header-component) ---*/

.intro-section {
	background-color: var(--green);
	display: block;
	height: 70vh;
}

.intro-description {
	display: block;
	text-align: center;
	padding: 20vh .5em 10vh;
}

.intro-buttons {
	display: block;
	text-align: center;
}

#src-button,
#app-button {
	font-size: 1.5em;
	color: var(--white);
	display: inline-block;
	padding: .5em 4vw;
	margin: 0em 1vw;
	border-radius: .5em;
	border: .05em solid var(--white);
}

#src-button:hover,
#app-button:hover {
	border-color: var(--white);
	cursor: pointer;
	transform: scale(1.1);
}

#app-button {
	background-color: var(--orange);
}

#src-button {
	background-color: var(--gray);
}

#app-button i,
#src-button i {
	padding-right: .5em;
}

/*--- Styling for the attributes section (under the intro-section) ---*/

.attributes-section {
	background-color: var(--dark-gray);
	display: flex;
	justify-content: space-evenly;
	padding: 1em;
	height: 30vh;
}

.attribute {
	background-color: var(--gray);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: .5em;
	padding: .5em;
	text-align: center;
	width: 30vw;
	padding: 1em;
	margin: .5em;
}

/* Attribute section Icons */
.attribute i {
	color: var(--green);
	font-size: 2em;
	padding: .2em;
}

/*--- Styling for the footer-component ---*/

footer {
	background-color: var(--black);
}

.footer-text {
	color: var(--white);
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 3em 1em;
}

.footer-text a{
	font-weight: bold;
	font-style: italic;
}

.cr-notice,
.hosting-notice {
	padding: .3em;
}
